.fav-box {
    position:absolute;
    right: 3%;
    top: 3%;
    /* border: solid yellow 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 40px;
    border-radius: 50%;
    max-height: 4rem;
    aspect-ratio: 1;
}
.fav-box .icon {
    width: 90%;
    height: 90%;
    color: #ccc;
    
}
.fav-box.fav .icon {
    width: 90%;
    height: 90%;
    color: yellow;
    
}