.single-giff-container {
    position: relative;
    /* border:solid yellow 2px */
}
.img-container {
    position:relative;
    width: 100%;
    height: 100%;
}
.single-giff-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.single-giff-container h4 {
    background-color: rgba(0,0,0, .4);
    position:absolute;
    left: 0;
    bottom: 3px;
    padding: .4rem;
}
.tall {
    grid-row: span 2;
}
.wide { 
    grid-column: span 2;
}
@media (max-width: 550px) {
    .wide{
        grid-column: span 1;
    }
}
