.nav-bar-container {
    display: flex;
    justify-content: flex-end;
    /* border: white solid 2px; */
    padding: 20px;
    /* background-color: rgba(255, 255, 255,0.2); */
     
}

.nav-bar-container > .link-group {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* border: white solid 2px; */
    margin: 0 1rem
    
}

.nav-bar-container > .link-group > .text {
    /* border: blue solid 2px; */
    text-decoration: none;
    
}
.nav-bar-container > .link-group > .icon {
    /* border: yellow solid 2px; */
    margin:0
    
}
.nav-bar-container button {
    background: none;
    border: none
}

