:root {
  --results-columns:1
}

.list-of-giffs {
  /* column-count: var(--results-columns); */
  display:grid;  
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  align-items: flex-start;
  column-gap: 0;
  row-gap: .5rem;
  padding: 0 2rem;
  width:100%;
  min-height: 150vh;
}

@media (min-width: 430px) {
  :root {
    --results-columns:2
  }
}

@media (min-width: 600px) {
  :root {
    --results-columns:3
  }
}


@media (min-width: 800px) {
  :root {
    --results-columns:4
  }
}

